.collaborate {
  overflow: hidden;
  &__top {
    display: flex;
    margin-bottom: 5rem;
    padding-right: 7rem;

    @include mobile {
      margin: 0 0 2.2rem;
      padding-right: 0;
      flex-direction: column;
    }
  }

  &__title {
    margin-right: auto;
    max-width: 50rem;
    font-size: 3.6rem;
    line-height: 5rem;
    font-weight: 600;
    color: $navyBlue;

    @include mobile {
      margin: 0 auto .5rem;
      max-width: 33rem;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
    }
  }

  &__list-data {
    display: flex;
    margin: -1rem -4.6rem 0;

    @include mobile {
      justify-content: center;
      margin: 0 -3.8rem;
    }
  }

  &__item-data {
    padding: 0 4.6rem;

    @include mobile  {
      padding: 0 3.8rem;
    }
  }

  &__count-data {
    margin-bottom: 0;
    font-size: 6rem;
    font-weight: 700;
    color: $navyBlue;

    @include mobile {
      margin-bottom: 0;
      font-size: 3.4rem;
      text-align: center;
    }
  }

  &__elements {
    display: flex;
    justify-content: center;
    margin: 0 -.2rem .5rem;

    @include mobile {
      margin: -1.4rem -.1rem .4rem;
    }
  }

  &__element {
    padding: 0 .2rem;

    @include mobile {
      padding: 0 .1rem;
    }
  }


  &__element-wrapper.star svg {
    width: 1.7rem;
    height: 1.6rem;

    @include mobile {
      width: .9rem;
      height: .8rem;
    }
  }

  &__element-wrapper.heart svg {
    width: 1.6rem;
    height: 1.4rem;

    @include mobile {
      width: .8rem;
      height: .7rem;
    }
  }

  &__text-data {
    font-size: 1.6rem;
    font-weight: 400;
    color: $navyBlue;

    @include mobile {
      font-size: 1rem;
    }
  }

  &__bottom {
    padding-left: 3rem;

    @include smallDesktop {
      padding-left: 0;
      max-width: max-content;
      margin: auto;
    }
  }

  &__list-company {
    display: flex;
    align-items: center;
    margin: 0 -4rem;
    overflow: auto;

    @include mobile {
      margin: 0 -1.8rem;
    }
  }

  &__item-company {
    padding: 0 4rem;

    @include mobile {
      padding: 0 1.8rem;
    }
  }

  &__wrapper-company svg {
    &.airbnb {
      width: 11.2rem;
      height: 3.5rem;

      @include mobile {
        width: 5.2rem;
        height: 1.6rem;
      }
    }

    &.hubspot {
      width: 10.4rem;
      height: 3rem;

      @include mobile {
        width: 4.8rem;
        height: 1.3rem;
      }
    }

    &.google {
      width: 10.4rem;
      height: 3.5rem;

      @include mobile {
        width: 4.8rem;
        height: 1.6rem;
      }
    }

    &.microsoft {
      width: 15.2rem;
      height: 3.2rem;

      @include mobile {
        width: 7rem;
        height: 1.5rem;
      }
    }

    &.walmart {
      width: 13.8rem;
      height: 3.2rem;

      @include mobile {
        width: 6rem;
        height: 1.5rem;
      }
    }

    &.fedex {
      width: 10rem;
      height: 3rem;

      @include mobile {
        width: 4rem;
        height: 1.4rem;
      }
    }
  }
}