.collaborate {
  &__top {
    display: flex;
    margin-bottom: 5rem;
    padding-right: 3rem;
  }

  &__title {
    margin-right: auto;
    max-width: 50rem;
    font-size: 3.6rem;
    line-height: 5rem;
    font-weight: 600;
    color: $navyBlue;
  }

  &__list-data {
    display: flex;
    margin: 0 -4.6rem;
  }

  &__item-data {
    padding: 0 4.6rem;
  }

  &__count-data {
    margin-bottom: 1rem;
    font-size: 6rem;
    font-weight: 700;
    color: $navyBlue;
  }

  &__elements {
    display: flex;
    margin: 0 -.2rem 1.2rem;
  }

  &__element {
    padding: 0 .2rem;
  }

  &__element-wrapper.star svg {
    width: 1.7rem;
    height: 1.6rem;
  }

  &__element-wrapper.heart svg {
    width: 1.6rem;
    height: 1.4rem;
  }

  &__text-data {
    font-size: 1.6rem;
    font-weight: 400;
    color: $navyBlue;
  }

  &__bottom {
    padding-left: 3rem;
  }

  &__list-company {
    display: flex;
    align-items: center;
    margin: 0 -4rem;
    overflow: auto;
  }

  &__item-company {
    padding: 0 4rem;
  }

  &__wrapper-company svg {
    &.airbnb {
      width: 11.2rem;
      height: 3.5rem;
    }

    &.hubspot {
      width: 10.4rem;
      height: 3rem;
    }

    &.google {
      width: 10.4rem;
      height: 3.5rem;
    }

    &.microsoft {
      width: 15.2rem;
      height: 3.2rem;
    }

    &.walmart {
      width: 13.8rem;
      height: 3.2rem;
    }

    &.fedex {
      width: 10rem;
      height: 3rem;
    }
  }
}