<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="format-detection" content="telephone=no">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="./assets/css/main.css">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="site-wrapper {% block siteWrapperMod %}{% endblock %}">
			{% include 'includes/sections/page-header.twig' %}
			<main class="site-content">
				{% block page %}{% endblock %}
			</main>
			{% include 'includes/sections/footer.twig' %}
		</div>
		<script src="./assets/js/vendor.js"></script>
		<script src="./assets/js/main.js"></script>
		<div style="display: none;">
			{% include 'includes/icons.svg' %}
		</div>
	</body>
</html>
