{% if footerList %}
{% else %}
  {% set footerList = [
    {
      placeholder: 'Имя',
      required: true,
      name: 'userName'
    },
    {
      placeholder: 'Телефон',
      required: true,
      phone: true,
      phoneMask: true,
      value: '+7 (',
      type: 'tel',
      name: 'userPhone',
      minLength: 18,
    },
    {
      placeholder: 'Email',
      required: true,
      type: 'email',
      name: 'userEmail'
    },
    {
      placeholder: 'Комментарий к сообщению',
      name: 'userWords',
      textarea: true,
    },
    {
      placeholder: '',
      name: 'userCost',
      hidden: true,
      mod: 'js-input-cost',
    },
    {
      placeholder: '',
      name: 'userPick',
      hidden: true,
      mod: 'js-input-pick',
    },
  ] %}
{% endif %}

<footer class="footer" id="footer">
  <div class="container footer__container">
    
  </div>
</footer>
