<{% if href %}a{% else %}button{% endif %} {% if href %}href = "#{{href}}"{% else %}type="{{type|default('button')}}"{% endif %} class="btn {{btnTheme}}">
  <span class="btn__text">
    {{text|default('text')}}
  </span>
</{% if href %}a{% else %}button{% endif %}>